In [1]:
import pandas as pd

In [3]:
filepath=""

(1615, 8)

,asm_name,assembly_accession,domain,ftp_basename,ftp_path,organism_name,taxid,genetic_code
0,ASM2238v1,GCF_000022385.1,archaea,GCF_000022385.1_ASM2238v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Sulfolobus islandicus L.S.2.15,429572,11
1,ASM97008v1,GCF_000970085.1,archaea,GCF_000970085.1_ASM97008v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina siciliae T4/M,1434120,11
2,ASM734v1,GCF_000007345.1,archaea,GCF_000007345.1_ASM734v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina acetivorans C2A,188937,11
3,ASM35030v1,GCF_000350305.1,archaea,GCF_000350305.1_ASM35030v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Thermoplasmatales archaeon BRNA1,1054217,11
4,ASM96990v1,GCF_000969905.1,archaea,GCF_000969905.1_ASM96990v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina vacuolata Z-761,1434123,11

In [4]:
filepath="/data/mitsuki/out/altorf/genome/patternanalyze/overlap/{}_chromosome_overlap.csv".format("GCF_000022385.1_ASM2238v1")

In [6]:
df=pd.read_csv(filepath, index_col=0)
df

,50,100,150,200,250,300,350,400,450,500,550,600,650,700,750,800,850,900,950,1000
0,1075,52623,138834,218093,278567,335644,395638,462078,538011,607101,667861,723095,787326,863386,943901,1016011,1108825,1185640,1285635,1381263
1,19650,469212,1109875,1641504,1959298,2087883,2152228,2158522,2122824,2074646,2030160,1983757,1925431,1853678,1776720,1705997,1615874,1540982,1443814,1349272
2,218682,1167861,1175914,796132,480466,305309,185985,114796,75003,54167,38082,29359,23515,19208,15651,14264,11573,9650,6823,5737
3,727358,786154,278117,76102,17413,7353,2410,876,434,358,169,61,0,0,0,0,0,0,0,0
4,1046147,230566,31260,4441,528,83,11,0,0,0,0,0,0,0,0,0,0,0,0,0
5,590678,27760,2193,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,132682,2096,79,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
thres_lst=range(50, 1000+1, 50)

In [ ]:
aveOverlap