In [1]:
import numpy as np
import pandas as pd
import sys
from Bio import SeqIO

In [18]:
def codon_dir(codon):
    if codon in {"TAA","TAG","TGA"}:#stop codon for foward lane
        return 1
    elif codon in {"TTA","CTA","TCA"}:#stop codon for backward lane
        return -1
    else:
        return 0

In [27]:
filepath="/home/mitsuki/out/altorf/genome/fasta/GCF_000265365.1_ASM26536v1_chromosome.fna"

dct_lst=[]
for seqRecord in SeqIO.parse(filepath, "fasta"):
    for i in range(2,len(seqRecord)):
        codon=seqRecord[i-2:i+1].seq
        codonDir=codon_dir(str(codon))
        
        if codonDir!=0:
            dct={}
            dct["Chromosome"]=seqRecord.name
            dct["Start"]=i-2
            dct["End"]=i+1
            
            lane_lst=["+1","+2","+3","-1","-2","-3"]
            for lane in lane_lst:
                dct[lane]=0
            
            for i in range(1,4):
                for strand in ['+','-']:
                    dct[strand+str(i)]=0                
            
            if codonDir==1:
                dct["Feature"]=str(codon)
                dct['+'+str((i-2)%3+1)]=1
                
                idx=(i-2)%3+4
            else:
                dct["Feature"]=str(codon.reverse_complement())
                dct['-'+str((i-2)%3+1)]=1
            dct_lst.append(dct)

In [29]:
out_df=pd.DataFrame(dct_lst)
out_df=out_df[["Chromosome","Start","End","Feature"]+lane_lst]
out_df.head(20)

     Chromosome  Start  End Feature  +1  +2  +3  -1  -2  -3
0   NC_018011.1      5    8     TAA   0   0   0   0   1   0
1   NC_018011.1      9   12     TGA   0   0   0   0   1   0
2   NC_018011.1     20   23     TGA   0   0   0   0   1   0
3   NC_018011.1     25   28     TGA   0   0   0   0   1   0
4   NC_018011.1     43   46     TAA   0   0   0   0   1   0
5   NC_018011.1     46   49     TGA   0   0   0   0   1   0
6   NC_018011.1     51   54     TAA   0   0   0   0   1   0
7   NC_018011.1     52   55     TAA   0   1   0   0   0   0
8   NC_018011.1     71   74     TAG   0   1   0   0   0   0
9   NC_018011.1     95   98     TGA   0   1   0   0   0   0
10  NC_018011.1    103  106     TGA   0   0   0   0   1   0
11  NC_018011.1    133  136     TGA   0   1   0   0   0   0
12  NC_018011.1    206  209     TAG   0   0   0   0   1   0
13  NC_018011.1    230  233     TAG   0   0   0   0   1   0
14  NC_018011.1    253  256     TGA   0   0   0   0   1   0
15  NC_018011.1    266  269     TAG   0   0   0   0   1   0
16  NC_018011.1    290  293     TAG   0   0   0   0   1   0
17  NC_018011.1    314  317     TGA   0   0   0   0   1   0
18  NC_018011.1    328  331     TGA   0   0   0   0   1   0
19  NC_018011.1    364  367     TGA   0   0   0   0   1   0

In [7]:
len(seqRecords[0])

3734239

In [23]:
seqRecord.name

'NC_018011.1'

In [17]:
for i in range(1,4):
    print(i)

1
2
3